# Python
env/
venv/
__pycache__/
*.pyc

# Django
db.sqlite3
media/

# Environment variables
.env

# Node
node_modules/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

reboot*.bat

# Ignorar migraciones (quitar en producción)
**/migrations/*.py

# Pero conservar __init__.py
!**/migrations/__init__.py