{% load static %}
<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Agrivall</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body class="bg-dark text-light">

<main class="container py-5">

    <div class="text-center mb-5">
        <span class="badge bg-success-subtle text-success px-3 py-2 rounded-pill">
            Panel de administración
        </span>

        <h1 class="display-5 fw-bold mt-3">
            Dashboard Agrivall
        </h1>

        <p class="text-secondary">
            Gestiona productos y pedidos desde un único lugar.
        </p>

        <a
            href="{% url 'index' %}"
            class="btn btn-success btn-lg w-50 mb-3"
        >
            Inicio
        </a>
    </div>

    <div class="row g-4">

        <div class="col-md-6">

            <a href="{% url 'panel_productos' %}"
               class="text-decoration-none">

                <div class="card bg-body-tertiary border-0 shadow-lg h-100 rounded-5">

                    <div class="card-body p-5 text-center">

                        <div class="display-1 mb-3">
                            📦
                        </div>

                        <h3 class="fw-bold">
                            Productos
                        </h3>

                        <p class="text-secondary">
                            Añade, modifica y gestiona el catálogo de productos ecológicos.
                        </p>

                        <span class="btn btn-success rounded-pill px-4">
                            Gestionar productos
                        </span>

                    </div>

                </div>

            </a>

        </div>


        <div class="col-md-6">

            <a href="{% url 'panel_pedidos' %}"
               class="text-decoration-none">

                <div class="card bg-body-tertiary border-0 shadow-lg h-100 rounded-5">

                    <div class="card-body p-5 text-center">

                        <div class="display-1 mb-3">
                            🛒
                        </div>

                        <h3 class="fw-bold">
                            Pedidos
                        </h3>

                        <p class="text-secondary">
                            Consulta pedidos, revisa estados y controla entregas.
                        </p>

                        <span class="btn btn-success rounded-pill px-4">
                            Ver pedidos
                        </span>

                    </div>

                </div>

            </a>

        </div>

    </div>

</main>

</body>
</html>