{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/tema.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    
</head>
<body>

    {% include "partials/nav.html" %}

    <main class="container py-5">

        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">

                <div class="card border-0 shadow-sm rounded-4">
                    <div class="card-body p-4">

                        <h2 class="fw-semibold text-success mb-2">
                            Iniciar sesión
                        </h2>

                        <p class="text-muted mb-4">
                            Accede para continuar con tu pedido.
                        </p>

                        <form method="post">
                            {% csrf_token %}
                            {% comment %} Este es el error de login, aun que se llame non field {% endcomment %}
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger rounded-4">
                                    {% for error in form.non_field_errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <div class="mb-3">
                                <label class="form-label">Usuario</label>
                                {{ form.username }}

                                {% for error in form.username.errors %}
                                    <div class="text-danger small mt-1">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Contraseña</label>
                                {{ form.password }}

                                {% for error in form.password.errors %}
                                    <div class="text-danger small mt-1">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>

                            <button type="submit" class="btn btn-green rounded-pill w-100 mt-3">
                                Entrar
                            </button>
                        </form>

                        <div class="text-center mt-4">
                            <p class="mb-2 text-muted">
                                ¿No tienes cuenta?
                                <a href="{% url 'register' %}" class="text-success text-decoration-none fw-semibold">
                                    Regístrate
                                </a>
                            </p>

                            <a href="{% url 'index' %}" class="text-muted text-decoration-none small">
                                Volver al menú principal
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </main>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>