{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrivall</title>

    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/tema.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

</head>

<body>

    {% include "partials/nav.html" %}

    <main>

        <section class="cabecera-blog">
            <span class="badge-green">
                Blog Agrivall
            </span>

            <h1 class="titulo-blog">
                Consejos para una vida más sostenible
            </h1>

            <p class="text-soft entradilla-blog">
                Ideas, recetas y consejos sobre producto ecológico, consumo responsable y agricultura de proximidad.
            </p>
        </section>

        <section class="seccion-blog">
            {% if posts %}
                <div class="lista-articulos">
                    {% for post in posts %}
                        <article class="soft-card tarjeta-articulo">
                            <div class="contenido-articulo">
                                <span class="badge-green">
                                    {{ post.tipo.tipo }}
                                </span>

                                <h2 class="titulo-articulo">
                                    {{ post.titulo }}
                                </h2>

                                <p class="text-soft texto-articulo">
                                    {{ post.noticia }}
                                </p>

                                <a href="#" class="btn-green-outline enlace-articulo">
                                    Leer más
                                </a>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            {% else %}
                    <h3 style="text-align:center;">No hay blogs disponibles</h3>
            {% endif %}
        </section>

    </main>

    {% include "partials/footer.html" %}


</body>
</html>
