{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog de agricultura ecológica | Agrivall</title>

    <meta
        name="description"
        content="Consejos, novedades y artículos sobre agricultura ecológica, productos de temporada y vida rural."
    >

    <link rel="canonical" href="https://daw-agrivall.es/blog/">

    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/tema.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    {% include "partials/meta_image_share" %}

</head>

<body>

    {% include "partials/nav.html" %}

    <main>

        <section class="cabecera-blog">

            <h1 class="titulo-blog">
                Consejos y noticias para una vida más sostenible
            </h1>

            <p class="text-soft entradilla-blog">
                Ideas, recetas y consejos sobre producto ecológico, consumo responsable y agricultura de proximidad.
            </p>
        </section>

        <section class="seccion-blog">
            {% if posts %}
                <div class="lista-posts">
                    {% for post in posts %}
                        <article class="tarjeta-post">

                            {% if post.imagen %}
                                <img
                                    src="{{ post.imagen.url }}"
                                    alt="{{ post.titulo }}"
                                    class="imagen-post"
                                >
                            {% else %}
                                <img src="{% static 'images/logo-agrivall.png' %}"
                                    class="imagen-post"
                                    alt="imagen por defecto"
                                >
                            {% endif %}
                            <div class="contenido-post">
                                <span class="badge-green">
                                    {{ post.tipo.tipo }}
                                </span>

                                <h2 class="titulo-post">
                                    {{ post.titulo }}
                                </h2>

                                <p class="text-soft texto-post">
                                    {{ post.noticia }}
                                </p>

                                <a href="#" class="btn-green-outline enlace-post">
                                    Leer más
                                </a>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            {% else %}
                    <h3 style="text-align:center;">No hay blogs disponibles</h3>
            {% endif %}
        </section>

    </main>

    {% include "partials/footer.html" %}


</body>
</html>
