{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casa rural Agrivall</title>

    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/tema.css' %}">
    <link rel="stylesheet" href="{% static 'css/casilla.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>

<body>

{% include "partials/nav.html" %}

<main>

    <section class="cabecera-casilla">

        <h1 class="titulo-casilla">
            Desconecta entre naturaleza y calma
        </h1>

        <p class="text-soft entradilla-casilla">
            Selecciona tus días de estancia y envíanos una solicitud de reserva.
        </p>

    </section>

    <section class="caracteristicas">
        <ul>
            <li>
                <img src="{% static "icons/shower.svg" %}" class="icono-features" alt="Baño privado"/>
                <span>Baño privado</span>
            </li>
            <li>
                <img src="{% static "icons/wifi.svg" %}" class="icono-features" alt="Wifi"/>
                <span>Wifi</span>
            </li>
            <li>
                <img src="{% static "icons/kitchen-outline-sharp.svg" %}" class="icono-features" alt="Cocina privada"/>
                <span>Cocina privada</span>
            </li>
            <li>
                <img src="{% static "icons/air-conditioner.svg" %}" class="icono-features" alt="Aire acondicionado"/>
                <span>Aire acondicionado</span>
            </li>
            <li>
                <img src="{% static "icons/terrace.svg" %}" class="icono-features" alt="Terraza"/>
                <span>Terraza</span>
            </li>
            <li>
                <img src="{% static "icons/pet-paw.svg" %}" class="icono-features" alt="Pet friendly"/>
                <span>Pet friendly</span>
            </li>
        </ul>
    </section>

    <section class="zona-casilla">

        <div class="rejilla-casilla">

            <section class="soft-card-no-hover bloque-casilla" aria-labelledby="fechas-title">

                <header class="cabecera-bloque-casilla">
                    <h2 id="fechas-title">
                        Elige tus fechas
                    </h2>

                    <p class="text-soft">
                        Selecciona el día de entrada y el día de salida. Los días intermedios se marcarán automáticamente.
                    </p>
                </header>
                {% if page_obj %}
                    <div class="lista-semanas">
                            {% for semana in page_obj %}

                                <article
                                    class="tarjeta-semana"
                                    data-id="{{ semana.id }}"
                                    data-semana="{{ semana.numero_sem }}"
                                >

                                    <div class="contenido-semana">

                                        <h3 class="titulo-semana">
                                            Semana {{ semana.numero_sem }}
                                        </h3>

                                        <p class="text-soft texto-semana">
                                            {{ semana.descriptor }}
                                        </p>

                                        <span class="estado-casilla {{ semana.estado }}">
                                            {{ semana.estado }} ●
                                        </span>

                                    </div>

                                    <strong class="precio-semana">
                                        {{ semana.precio }} €
                                    </strong>

                                </article>

                            {% endfor %}
                    </div>

                    <nav class="paginacion-casilla" aria-label="Paginación de semanas">

                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">
                                Anterior
                            </a>
                        {% endif %}

                        <span>
                            {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">
                                Siguiente
                            </a>
                        {% endif %}

                    </nav>
                {% else %}
                        <h3 style="text-align:center; margin-top: 50%;">No hay semanas disponibles</h3>
                {% endif %}
            </section>

            <section class="soft-card-no-hover bloque-casilla" aria-labelledby="reserva-title">

                <header class="cabecera-bloque-casilla">
                    <h2 id="reserva-title">
                        Solicitar reserva
                    </h2>

                    <p class="text-soft">
                        Te confirmaremos la disponibilidad lo antes posible.
                    </p>
                </header>

                <!-- JS borrará los campos almacenados en storage solo cuando se envíe el forumlario con limpiarReserva -->
                <form method="post" action="{% url 'casilla' %}"class="formulario-reserva" onsubmit="limpiarReserva()">
                    {% csrf_token %}

                    <div class="campo-formulario">
                        <label for="nombre">Nombre</label>

                        <input
                            type="text"
                            id="nombre"
                            name="nombre"
                            placeholder="Tu nombre"
                            value="{{ form.nombre.value|default:'' }}"
                            required
                        >
                        {% if form.nombre.errors %}
                            <p class="error">
                                <!--erros.0 por que devuelve una lista-->
                                {{ form.nombre.errors.0 }}
                            </p>
                        {% endif %}
                    </div>

                    <div class="campo-formulario">
                        <label for="telefono">Teléfono</label>

                        <input
                            type="tel"
                            id="telefono"
                            name="telefono"
                            placeholder="Teléfono de contacto"
                            value="{{ form.telefono.value|default:'' }}"
                            required
                        >
                        {% if form.telefono.errors %}
                            <p class="error">
                                <!--erros.0 por que devuelve una lista-->
                                {{ form.telefono.errors.0 }}
                            </p>
                        {% endif %}
                    </div>

                    <div class="campo-formulario">
                        <label for="email">Email</label>

                        <input
                            type="email"
                            id="email"
                            name="email"
                            placeholder="tu@email.com"
                            value="{{ form.email.value|default:'' }}"
                            required
                        >
                        {% if form.email.errors %}
                            <p class="error">
                                <!--erros.0 por que devuelve una lista-->
                                {{ form.email.errors.0 }}
                            </p>
                        {% endif %}
                    </div>

                    <div class="campo-formulario">
                        <label for="semanaVisible">Semana</label>

                        <input
                            type="number"
                            id="semanaVisible"
                            placeholder="Semana"
                            value="{{ form.semana_id.value|default:'' }}"
                            readonly
                            required
                        >
                        
                        <input
                            type="hidden"
                            name="semana_id"
                            value="{{ form.semana_id.value|default:'' }}"
                            id="semanaId"
                        >
                        {% if form.semana_id.errors %}
                            <p class="error">
                                <!--erros.0 por que devuelve una lista-->
                                {{ form.semana_id.errors.0 }}
                            </p>
                        {% endif %}
                    </div>

                    <div class="campo-formulario">
                        <label for="notas">Notas</label>

                        <textarea
                            id="notas"
                            name="notas"
                            rows="4"
                            placeholder="Número de personas, dudas o preferencias..."
                        >{{ form.notas.value|default:'' }}</textarea>
                        {% if form.nombre.errors %}
                            <p class="error">
                                <!--erros.0 por que devuelve una lista-->
                                {{ form.nombre.errors.0 }}
                            </p>
                        {% endif %}
                    </div>

                    <button type="submit" class="boton-reserva">
                        Enviar solicitud de reserva
                    </button>

                </form>

            </section>

        </div>

    </section>

</main>

{% include "partials/footer.html" %}

<script>
    const tarjetasSemana = document.querySelectorAll(".tarjeta-semana");

    const semanaVisible = document.getElementById("semanaVisible");
    const semanaId = document.getElementById("semanaId");

    tarjetasSemana.forEach(tarjeta => {

        tarjeta.addEventListener("click", () => {

            tarjetasSemana.forEach(item =>
                item.classList.remove("seleccionada")
            );

            tarjeta.classList.add("seleccionada");

            semanaVisible.value = tarjeta.dataset.semana;
            semanaId.value = tarjeta.dataset.id;
            
            // Guardamos los datos del formulario hasta que se envie el formulario, para que no se pierdan al paginar
            localStorage.setItem("casilla_semanaVisible", semanaVisible.value);
            localStorage.setItem("casilla_semanaId", semanaId.value);


        });

    });
</script>

<!-- Añadimos local storage de js para almacenar los datos del formulario cuando se pagina -->
<script>
    const camposReserva = [
        "nombre",
        "telefono",
        "email",
        "semanaVisible",
        "semanaId",
        "notas"
    ];

    // Recuperar datos guardados
    camposReserva.forEach(id => {

        const campo = document.getElementById(id);

        if (!campo) return;

        const valorGuardado = localStorage.getItem("casilla_" + id);

        if (valorGuardado) {
            campo.value = valorGuardado;
        }

        // Guardar cambios
        campo.addEventListener("input", () => {
            localStorage.setItem("casilla_" + id, campo.value);
        });

    });

    function limpiarReserva() {

        camposReserva.forEach(id => {
            localStorage.removeItem("casilla_" + id);
        });

    }
</script>

</body>
</html>