{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrivall</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/tema.css' %}">
    <link rel="stylesheet" href="{% static 'css/productos.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

</head>

<body>

    {% include "partials/nav.html" %}

    {% include "partials/pedido_finalizado_message.html" %}
    {% include "partials/producto_added_message.html" %}

    <main>

        <section class="cabecera-productos">
            <span class="badge-green">
                Green-commerce
            </span>

            <h1>Productos ecológicos</h1>

            <p class="text-soft">
                Productos ecológicos, frescos y de proximidad para una compra más sostenible.
            </p>
        </section>

        <section class="zona-productos">

            <div class="rejilla-productos">

                {% for producto in productos %}

                    <form method="post" action="{% url 'crear_linea_pedido' %}" class="formulario-carrito">
                        {% csrf_token %}

                        <input type="hidden" name="producto_id" value="{{ producto.id }}">

                        <article class="soft-card tarjeta-producto">

                            {% if producto.imagen %}
                                <img
                                    src="{{ producto.imagen.url }}"
                                    class="imagen-producto"
                                    alt="{{ producto.nombre }}"
                                >
                            {% else %}
                                <img src="{% static 'images/logo-agrivall.png' %}"
                                class="imagen-producto"
                                alt="imagen por defecto">
                            {% endif %}

                            <div class="contenido-producto">

                                <h2 class="titulo-producto">
                                    {{ producto.nombre }}
                                </h2>

                                <p class="text-soft descripcion-producto">
                                    {{ producto.descripcion }}
                                </p>

                                <div class="datos-producto">
                                    <span class="precio-producto">
                                        {{ producto.precio_unidad }} €
                                    </span>

                                    <span class="peso-producto">
                                        {{ producto.peso_kg }} kg
                                    </span>
                                </div>

                                <button type="submit" class="btn-green boton-producto">
                                    Añadir al carrito
                                </button>

                            </div>

                        </article>

                    </form>

                {% endfor %}

            </div>

        </section>
    
    </main>

    {% include "partials/footer.html" %}

    <script src="{% static 'js/producto_added_message.js' %}"></script>

    <script>
        const formulariosCarrito = document.querySelectorAll(".formulario-carrito");
        const contadorCarrito = document.getElementById("cart-count");

        formulariosCarrito.forEach(form => {
            form.addEventListener("submit", async function (e) {
                e.preventDefault();

                const formData = new FormData(form);

                const response = await fetch(form.action, {
                    method: "POST",
                    body: formData
                });

                const data = await response.json();

                if (data.ok) {
                    contadorCarrito.textContent = data.cart_count;

                    if (data.message && data.message.trim() !== "") {
                        mostrarProductoAñadido(data.message);
                    }
                }
            });
        });
    </script>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>


</body>
</html>