* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fdfdfb;
    border-bottom: 1px solid rgba(0,0,0,.08);
    padding: 1rem 10rem;
}


/* BOTONES */

.nav-button {

    font-size: small;

    background: var(--bg-main);

    border: 1px solid rgba(0,0,0,.05);

    border-radius: 999px;

    padding: .5rem 1.5rem;

    box-shadow: var(--shadow-soft);

    transition: .3s;
}

.nav-button-green {
    background:var(--primary);
    color: var(--bg-main);
}

.nav-button:hover{
    background: var(--primary-soft-dark);
    box-shadow: var(--shadow-hover);
}

.nav-button-green:hover{
    background: var(--primary-dark);
    box-shadow: var(--shadow-hover);
}

.dashboard {
    background: blue;
    border: solid 1px black;
    color: var(--bg-main);
}

.dashboard:hover {
    background: rgb(11, 11, 137);
    color: var(--bg-main);
}

/* LOGO */
.nav-logo {
    color: var(--primary);
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-right: 2rem;
}

/* PADRE NAVEGADOR */
.nav {
    display: flex;
    gap: 2rem;
}

/* NAV LINKS */
.nav-list {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
}

/* Alineamos los li */
.nav-list li {
  display: flex;
  align-items: center;
}

.nav-list li a {
    text-decoration: none;
}


/* Imagen cart */
.cart-icon {
    max-width: 2rem;
    transition: transform 0.3s ease;
}

.cart-icon:hover {
    transform: scale(1.1);
    border-radius: 50%;
    box-shadow: 0 0 5px yellowgreen;
}


/* Alinear imagen y conteo de productos  */
.nav-cart {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
}


/* Abrir menú oculto en pc */
.abrir-menu, .cerrar-menu {
    display: none;
}

.nav-link:hover {
    color: var(--primary-dark);
}

/* USERNAME */

.nav-user {
    color: var(--primary-dark);
    font-style: italic;
}

@media screen and (max-width: 550px) {

    header {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    /* mostramos bototnes de abrir y cerrar menú */
    .abrir-menu, 
    .cerrar-menu {
        display: block;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }

    /* Nuevo nav */
    .nav {
        z-index: 10000;
        /* Esto es lo que muestra o oculta el nuevo nav */
        opacity: 0;
        /* no usamos hidden para que cuando se esconda lo haga con transición y no de golpe */
        visibility: hidden;

        /* transición de derecha a izquierda*/
        transform: translateX(100%);
        transform-origin: right;
        transition: opacity .3s ease, transform .3s ease;


        /* forma del nav */
        display: flex;
        flex-direction: column;
        align-items: end;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);

        /* para que no se pueda clickar si está hidden , ya que no usamos hidden*/
        pointer-events: none;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;

        transform: translateX(0);

        /* Si se pueda clicar */
        pointer-events: auto;
    }

    /* bloquear el scroll cuando se abra el menú */
    body.bloquear-scroll {
        overflow: hidden;
        touch-action: none;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ececec;
    }

    /* Sobreescribir los botones de acciones */
    .nav-button {
        background: transparent;
        color: var(--primary-dark) !important;
        border: solid 1px var(--primary-dark);
    }    

    /* icono hamburguesa */
    .icono {
        max-width: 1.25rem;
    }


}