{% load static %}
<footer class="footer">
    
    <div class="footer-content">

        <div class="footer-brand">

            <h3>Agrivall</h3>

            <p>
                Productos ecológicos, frescos y de proximidad para una compra más sostenible.
            </p>
            <div class="sellos">
                <a href="https://www.miteco.gob.es/es/calidad-y-evaluacion-ambiental/temas/etiqueta-ecologica-de-la-union-europea.html" target="_blank">
                <img
                    src="{% static "images/eu-organic-logo.png" %}"
                    class="img-fluid rounded-top"
                    alt=""
                    style="width:50px; height: 50px;"
                />
                <a href="https://agriculture.ec.europa.eu/index_es" target="_blank">
                    <img
                        src="{% static "images/ue-union-europea.svg" %}"
                        class="img-fluid rounded-top"
                        alt=""
                        style="width:50px; height: 50px;"
                    />
                </a>
            </div>
        </div>

        <div class="footer-links">

            <a href="{% url "index" %}">Inicio</a>
            <a href="{% url "productos" %}">Productos</a>
            <a href="#">Contacto</a>

        </div>

    </div>

    <div class="footer-bottom">
        © 2026 Agrivall · Agricultura local · Km 0
    </div>

</footer>