{% load static %}
<header>
    <a href="{% url 'index' %}" class="nav-logo">
        AGRIVALL
    </a>

    <button class="abrir-menu" id="abrir">
        <img src="{% static "icons/hamburger-menu.svg" %}" class="icono abrir" alt="Menú hamburguesa"/>
    </button>

    <!-- Container principal -->
    <nav class="nav" id="mainNav">
        <button class="cerrar-menu" id="cerrar">
            <img src="{% static 'icons/close.svg' %}" class="icono cerrar" alt="Cerrar menú"/>
        </button>

        <ul class="nav-list">
            <li class="nav-link">
                <a href="{% url 'index' %}"
                class="{% if request.resolver_match.url_name == 'index' %}nav-active{% endif %}">
                    Inicio
                </a>
            </li>

            <li class="nav-link">
                <a href="{% url 'productos' %}"
                class="{% if request.resolver_match.url_name == 'productos' or request.GET.next == '/productos/' %}nav-active{% endif %}">
                    Productos
                </a>
            </li>

            <li class="nav-link">
                <a href="{% url 'casilla' %}"
                class="{% if request.resolver_match.url_name == 'casilla' %}nav-active{% endif %}">
                    Casilla
                </a>
            </li>

            <li class="nav-link">
                <a href="{% url 'blog' %}"
                class="{% if request.resolver_match.url_name == 'blog' %}nav-active{% endif %}">
                    Blog
                </a>
            </li>
        </ul>

        <div class="nav-actions">

            {% if user.is_authenticated %}

                <a href="{% url 'checkout' %}" class="nav-cart">
                    <img
                        src="{% static 'icons/shopping-basket.svg' %}"
                        alt="Cesta"
                        class="cart-icon"
                    >
                    <span id="cart-count">{{ carrito_total }}</span>
                </a>

                <span class="nav-user">
                    {{ user.username }}
                </span>

                <form method="post" action="{% url 'logout' %}" class="nav-form">
                    {% csrf_token %}
                    <button type="submit" class="nav-button nav-button-green">
                        Cerrar sesión
                    </button>
                </form>

                {% if user.is_superuser %}
                    <a href="{% url 'dashboard' %}" class="nav-button dashboard">
                        Admin
                    </a>
                {% endif %}

            {% else %}

                <a href="{% url 'login' %}" class="nav-button nav-button-light">
                    Iniciar sesión
                </a>

                <a href="{% url 'register' %}" class="nav-button nav-button-green">
                    Registrarse
                </a>

            {% endif %}

        </div>
    </nav>

</header>


<script src="{% static "js/nav.js" %}">
</script>